@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');


body {
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight:400;
font-style: normal;
background-color: black;
box-sizing: border-box;
max-width: 1400px;
}

header{
    max-width: 1440px;
    margin: 0 auto;
   padding: 30px 170px;
   background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0.1) 100%);

}

.display,.banner-part,.img-box-2,.section4{
    display: flex;
}

.display{
    justify-content: space-between;
    align-items: center;

}
.tittle{
    font-size: 36px;
    font-weight: 800;
    color: rgb(230, 83, 60);
}
/* 
.hero{
     flex-direction: column;
    align-items: center;
} */

.list-items{
    list-style: none;
    gap: 30px;
}
.item{
    text-decoration: none;
    align-items: center;
    /* color:rgba(255, 255, 255, 0.1) ; */
    color: white;
    font-size: 1rem;
}
.item-1{

    background-color: #E6533C;
    border-radius: 30px;
    padding: 10px 20px;
}
.banner-part{
    justify-content: space-between;
}
.div-1{
    flex-direction: column;
   margin-top: 80px;
   color: white;
   font-size:30px;
   gap:10px;
   /* row-gap: 1px; */
   
}
span{
font-family:'Miama', sans-serif;
font-weight: 500;
font-size: 70px;
}
.explain{
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}
.btn-1,.btn-2{
    
    border-radius: 19px;
    border: none;
    background-color: rgb(230, 83, 60);
    padding: 10px 20px;
    color: aliceblue;
}

.btn-2{
    background-color: black;
    border: 1px solid white;
}
.div-2{
    height: 80%;
}

.img-box{
    width: 193px;
    height: 98px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(2.25rem);
    background: rgba(255, 255, 255, 0.1);
    /* padding: 20px; */
    padding-left: 30px;
    padding-top: 20px;
    position: absolute;
    bottom: 40%;
    left: 75%;
   
}
.img-box p,.img-box-2 p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.8rem;
}
.img-box h3,.img-box-2 h3 {

    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 900;
    margin: -10px;
}
.img-box-2{

    width: 193px;
    height: 98px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(2.25rem);
    background: rgba(255, 255, 255, 0.1);
    /* padding: 20px; */
    padding-left: 30px;
    padding-top: 20px;
    /* position: absolute; */
    margin-left: -20px;
    margin-top: -130px;

}
.circle {
    width: 40px;
    height: 40px;
    border: 1px solid tomato;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
}
.img-box-2{
    gap: 30px;
    align-self: center;
    
}
.details{
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;

}

.up-tittle,.sec2-tilttle{
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 2rem;
}
.up-description,.sec2-descrptn{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 14px;
}
.pic{
    width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
}
.examples{
    display: grid;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}
.name, .name1{
    font-size: 15px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.name1{
    font-size: 13px;
}
.section2{
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    gap: 80px;
    padding: 20px 40px;
    background-color:rgb(34, 34, 34) ;
    border-radius: 15px;
}
.sce2pic-pic{
    width: 100%;
    margin: 0 auto;
    height: auto;
    border-radius: 12px;
}
.bmi-tittle,.img-tittle{
    font-size: 40px;
    font-weight: 800;
    color: rgb(255, 255, 255);
}
.bmi-desription,.img-description{
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.section3{
    /* align-items: center;  */
    /* text-align:left; */
    margin-left: 30%;
   
}
.section4{
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    /* height: 400px; */
    margin: 0 auto;
    margin-top: 30px;
    background-color: rgb(34, 34, 34);
    padding: 20px 100px;
    /* gap: 100px; */

}
.table-part{
    margin-left: 15%;
}

table{
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.75rem;

}
th {
    color: white;
    text-align: start;
}
.calculate-bmi,.tablehead{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.calculate-description{
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.calc{
    margin-left: 10%;
    margin-right: 10%;
}

::placeholder,option{
    color: rgba(255, 255, 255, 0.6);
}

.select{
 background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 5px;
}

#activity {
    grid-column: span 2;
}
.bmi-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:7px;
}

.section-5{
    /* text-align: center; */
    max-width: 60%;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 200px;
    
}
.sce-content{
    text-align: center;
    margin-bottom: 50px;
}
.setn5-head{
    font-weight: 800;
    font-size: 35px;
    color: rgb(255, 255, 255);
}
.setn-5-description{
        color: rgba(255, 255, 255, 0.5);
        font-weight: 400;
        font-size: 12px;
}
/* .sec-5imgs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
} */
.img-tittle{
   
    font-size: 18px;
}

.container{
    position: absolute;
    margin-top: -80px;
    margin-left: 20px;
}
.img-description{
    margin-top: -20px;
    font-size: 15px;
}

.imgs-1{
    position: relative;
    height:100%;
}
.sec-5imgs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-radius: 12px;
    background-color:rgba(255, 255, 255, 0.1) ;
    gap: 15px;
}
.sec-5imgs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.footerr{
    max-width: 1440px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 auto;

}
.left{
    padding: 50px;
}

.middle{
    padding: 50px;
}
.right{
    padding: 50px;
}
 .middle-head{
    font-weight: 800px;
    font-size: 20px;
    color: white;
 }
.endpart{
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:40px;
    margin-left: 5%;
}
.middle-details,.right-details{
    font-size: 18px;
    row-gap: 1000px;
}
.endline{
    text-align: center;
     /* margin-bottom: 2%; */
     margin-top: -10px;

   
}
.end{
    
   color: rgba(255, 255, 255, 0.5);
   
}
.endborder{
    margin: 0px 240px 0px 265px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
}
.endline{
    text-align: center;
    padding-bottom: 20px;
}